---
import { Image } from 'astro:assets';
import Box from '@components/Box.astro';
---

<section class="p-2.5 grid grid-rows-8 lg:grid-rows-5 grid-cols-1 lg:grid-cols-6 gap-2.5 h-full">
	<Box
		size='large',
		overlayColor='bg-slate-500/75',
		image={{
			src: '/images/133.jpg',
			width: '1000',
			height: '667',
			alt: 'image',
		}},
		link={{
			href: "#",
			text: "More &rarr;",
		}}
	>
		<Fragment slot="content">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor sit amet justo et convallis. In interdum quam eget consequat ultrices. Donec iaculis urna at fermentum pellentesque. Pellentesque sed nulla turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</Fragment>
	</Box>

	<Box
		size='medium',
		overlayColor='bg-teal-500/75',
		image={{
			src: '/images/218.jpg',
			width: '1000',
			height: '667',
			alt: 'image',
		}},
		link={{
			href: "#",
			text: "More &rarr;",
		}}
	>
		<Fragment slot="content">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor sit amet justo et convallis. In interdum quam eget consequat ultrices. Donec iaculis urna at fermentum pellentesque. Pellentesque sed nulla turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</Fragment>
	</Box>

	<Box
		size='medium',
		overlayColor='bg-lime-500/75',
		image={{
			src: '/images/221.jpg',
			width: '1000',
			height: '667',
			alt: 'image',
		}},
		link={{
			href: "#",
			text: "More &rarr;",
		}}
	>
		<Fragment slot="content">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor sit amet justo et convallis. In interdum quam eget consequat ultrices. Donec iaculis urna at fermentum pellentesque. Pellentesque sed nulla turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</Fragment>
	</Box>

	<Box
		size='small',
		overlayColor='bg-emerald-500/75',
		image={{
			src: '/images/399.jpg',
			width: '100',
			height: '667',
			alt: 'image',
		}},
		link={{
			href: "#",
			text: "More &rarr;",
		}}
	>
		<Fragment slot="content">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</Fragment>
	</Box>

	<Box
		size='small',
		overlayColor='bg-sky-500/75',
		image={{
			src: '/images/616.jpg',
			width: '1000',
			height: '667',
			alt: 'image',
		}},
		link={{
			href: "#",
			text: "More &rarr;",
		}}
	>
		<Fragment slot="content">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</Fragment>
	</Box>

	<Box
		size='large',
		overlayColor='bg-indigo-500/75',
		image={{
			src: '/images/792.jpg',
			width: '1000',
			height: '667',
			alt: 'image',
		}},
		link={{
			href: "#",
			text: "More &rarr;",
		}}
	>
		<Fragment slot="content">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor sit amet justo et convallis. In interdum quam eget consequat ultrices. Donec iaculis urna at fermentum pellentesque. Pellentesque sed nulla turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</Fragment>
	</Box>

	<Box
		size='medium',
		overlayColor='bg-violet-500/75',
		image={{
			src: '/images/4166.jpg',
			width: '1000',
			height: '667',
			alt: 'image',
		}},
		link={{
			href: "#",
			text: "More &rarr;",
		}}
	>
		<Fragment slot="content">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor sit amet justo et convallis. In interdum quam eget consequat ultrices. Donec iaculis urna at fermentum pellentesque. Pellentesque sed nulla turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</Fragment>
	</Box>

	<Box
		size='medium',
		overlayColor='bg-cyan-500/75',
		image={{
			src: '/images/14262.jpg',
			width: '1000',
			height: '667',
			alt: 'image',
		}},
		link={{
			href: "#",
			text: "More &rarr;",
		}}
	>
		<Fragment slot="content">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor sit amet justo et convallis. In interdum quam eget consequat ultrices. Donec iaculis urna at fermentum pellentesque. Pellentesque sed nulla turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		</Fragment>
	</Box>
</section>