---
---

<div class="text-sm text-neutral-500 text-center md:text-right font-light leading-none">
  <p>Design &amp; Development by <a href="https://interactive-design.gr" target="_blank">Interactive Design</a></p>
</div>