---
---

<navigation class="flex flex-col lg:flex-row grow justify-end items-end lg:items-center">
  <button type="button" class="md:hidden flex items-center content-center p-2.5" id="menu-toggle">
    <span class="sr-only">Menu</span>
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path class="stroke-gray-500" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
    </svg>
  </button>
  <ul class="opacity-0 lg:opacity-100 absolute lg:relative left-0 top-[80px] lg:top-0 w-full lg:w-fit list-none flex-col lg:flex lg:flex-row gap-2 lg:gap-10 text-lg font-light uppercase z-40 bg-white transition p-4 lg:pr-0" id="main-navigation">
    <li><a class="after:w-0 after:block after:h-0.5 after:bg-black hover:after:w-full after:transition-all after:delay-150 after:ease-in-out" href="/about">About</a></li>
    <li><a class="after:w-0 after:block after:h-0.5 after:bg-black hover:after:w-full after:transition-all after:delay-150 after:ease-in-out" href="#">Mission</a></li>
    <li><a class="after:w-0 after:block after:h-0.5 after:bg-black hover:after:w-full after:transition-all after:delay-150 after:ease-in-out" href="#">Contact</a></li>
  </ul>
</navigation>

<script type="module">
  const button = document.getElementById('menu-toggle');
  const menu = document.getElementById('main-navigation');

  button.addEventListener('click', () => {
    menu.classList.toggle('opacity-0');
    menu.classList.toggle('opacity-100');
  });
</script>